
.home-page {
    height: 100%;
    width: 100%;
}

.home-page > header, main {
    margin: 1em 3em;
}


main {
    height: 80%;
}

.add-button {
    position: absolute;
    bottom: 3em;
    right: 3em;
}


.pin-itallic {
    margin-bottom: 1.5em;
}

.pinned-section, .others-section {
    margin-bottom: 3em;
}

